---
layout: default
---

<article class="post single">
        <h1 class="post-title">
            <span class="tip-number">{{ page.tipNumber }}</span>
            {{ page.title }}
        </h1>

        <div class="tldt">
            <p>{{ page.tipTlDt }}</p>
        </div>

        <div class="meta-info">
            <time class="date meta-item" datetime="{{ page.date }}"><i class="fa fa-calendar"></i> {{ page.date | date_to_string }}</time>

            <div class="contributor meta-item"><i class="fa fa-user"></i><a href="{{ page.tipContributorUrl }}" target="_blank"> @{{ page.tipContributorUser }}</a></div>

            <div class="share meta-item">
                <a href="http://facebook.com/sharer.php?s=100&p[url]=http://www.jstips.co{{page.url}}" target="_blank"><img src="/images/facebook.svg"></a>
                <a href="https://twitter.com/intent/tweet?text=JS Tips - {{page.tipNumber}} - {{ page.title }}&url=http://www.jstips.co{{page.url}}&hashtags=javascript"><img src="/images/twitter.svg"></a>
                <a href="https://www.linkedin.com/shareArticle?mini=true&url=http://www.jstips.co{{page.url}}&title=JS Tips - {{page.tipNumber}} - {{ page.title }}&summary={{ page.tipTlDt }}" target="_blank"><img src="/images/linkedin.svg"></a>
            </div>

        </div>

        <div class="entry">
            {{ content }}
        </div>

        {% include disqus.html %}
</article>